.detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.detail-video {
  width: 800px;
  height: 450px;
  margin-bottom: 10px;
}

.detail-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.detail-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.detail-creator {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
}
.detail-date {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 6px;
}
